
<section>
    <div class="container-fluid ">
      <div class="row-md-5 mt-3">
            <div class="col-md-12" *ngIf="adminLoggedInUser" >
                <div class="btn btn-primary p-3 font-weight-bold "> <a  (click)="createNewMovie()" routerLinkActive="active" style="color:white;" >New</a> </div>
            </div>
      </div>
      <div class="row-md-5">
        
        <div class="col-md-12 col-sm-8 ml-sm-5 ">
          <div class="row pt-5 mt-3 mb-5 movieData" >
            
          <div class="col-md-3 p-2 rotate" *ngFor="let movieItem of moviesList;let i=index" >
                <div class="row ml-4" > 
                    <i class="fa fa-edit text-warning" *ngIf="adminLoggedInUser"  (click)="updateMovie(movieItem,i)" ></i>
                    <i class="fa fa-trash-o text-danger ml-2" style="cursor: pointer;"  *ngIf="adminLoggedInUser"  (click)="deleteMovie(movieItem.getMovieId(),i)"></i>
                    <i class="fa fa-comments-o text-success ml-2" style="cursor:pointer;" 
                    *ngIf="loggedInUser" (click)="addUserComment(i)"
                    data-toggle="tooltip" data-placement="top" title="Add comment"></i>
                    <i class="fa fa-eye text-success ml-2" style="cursor:pointer;" (click)="getMovieComments(movieItem.getMovieId(),i)"
                    data-toggle="modal" data-target="#exampleModalLong"></i>
                   
             </div>
               
                  <div class="card text-center mb-3 mt-2 movie-card ">
                      <div class="card-header">
                          {{movieItem.getMovieTitle()}}
  
                      </div>
                      <input style="display:none" #phone value="{{i}}"/>
                      <div class="card-body p-2 ">
                        <img class="img-fluid rounded" src="{{movieItem.getMoviePicture()}}" alt="" style="width:250px;height:300px;">
                      </div>
                      <div class="card-footer">
                         By {{movieItem.getMovieDirector()}}
                      </div>
                      <!-- movies details -->
                      <div class="movies-back text-center p-1">
                          <div class="movies-back-content" >
                           
                            
                              <div>
                                  <h3 class="text-secondary font-italic common-title">Actors</h3>
                                  <div class="col-md-12">{{movieItem.getMovieActors()}}</div>
                              </div>
                              <div class="mt-3">
                                  <h3 class="text-secondary font-italic common-title">Summary</h3>
                                  <div class="col-md-12 text-capitalize ">{{movieItem.getMovieSummary()}}</div>
                              </div>
                              <div class="mt-3 text-start ">
                                  <h3 class="text-secondary font-italic common-title">Movie Info</h3>
                                    <ul class="list-group ">
                                      <li class="list-group-item ">Type : {{movieItem.getMovieType()}}</li>
                                      <li class="list-group-item">Released Date: {{movieItem.getMovieCreationDate()}}</li>
                                      <li class="list-group-item">Production Country : {{movieItem.getMovieCountry()}}</li>
                                    </ul>
                              </div>
                          </div>
                      </div>
                    
                  </div> 
                  
                  <div class="row containerUserComment userComment p-2" [ngClass]="{'userCommentDiplay': movieCommentPanelId==phone.value}">
                      <i class="fa fa-close closeCommentPanel" aria-hidden="true" (click)="closeCommentPanel()"></i>
                    <form [formGroup]="movieComment" (ngSubmit)="onCommentSubmit(movieItem.getMovieId())" >
                      <div class="text-capitalize font-weight-bold font-italic text-center  justify-content-between" >
                        <h4>Add your comment</h4>
                       
                      </div>
                     
                      <div class="formgroup" formGroupName="movieCommentGroup">
                        
                        <div class="form-group">
                          <label for="username">Name: <span style="color:red; margin-bottom: 0px;">*</span></label>
                          <input
                            type="text"
                            id="username"
                            formControlName="username"
                            class="form-control"
                            placeholder="Name">
                          <span
                            *ngIf="!movieComment.get('movieCommentGroup.username').valid && movieComment.get('movieCommentGroup.username').touched"
                            class="help-block">
                            <span *ngIf="movieComment.get('movieCommentGroup.username').errors['required']">This field is required!</span>
                  
                          </span>
                        </div>
                
                        <div class="form-group" >
                          <label for="rate">Rate:<span style="color:red; margin-bottom: 0px;">*</span> </label>
                          <input formControlName="rate" type="text" class="form-control" style="display:none"  id="rateInput" #rateInput value="0" />
                          <div *ngFor="let item of createRange(5);let rateIndex=index"  class="fa fa-star star{{rateIndex}} movieId{{i}}" id="rateSpanId">
                      
                          </div>
                        
                        </div>
                     
                      <div class="form-group">
                        <label for="comment">Comment<span style="color:red; margin-bottom: 0px;">*</span> </label>
                          <textarea
                          cols="30" 
                          rows="10"
                          type="text"
                          id="comment"
                          style="height:50px;"
                          formControlName="comment"
                          class="form-control"
                          placeholder="add comment"></textarea>



                        <span
                          *ngIf="!movieComment.get('movieCommentGroup.comment').valid && movieComment.get('movieCommentGroup.comment').touched"
                          class="help-block">This field is required!</span>
                      </div>
                      </div>
                     <button class="btn btn-primary mt-3" type="submit" >Submit</button>
                      
                      
                    </form>
                  </div>
                 


                   

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle" #commentsMovieTitle></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearCommentTable()">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="row-sm-12" *ngFor="let commentItem of MovieCommentTable">
                                <div class="row-sm-6">
                                  <div class="col-sm-6">
                                   {{commentItem.getUserName()}}
                                  </div>
                                  <div class="col-sm-6">
                                    <div *ngFor="let item of createRange( commentItem.getRate());let rateIndex=index"  class="fa fa-star checked" id="rateSpanId" aria-disabled="true" >
                      
                                    </div>
                                  </div>

                                </div>
                                <div class="row-sm-6">
                                  {{commentItem.getComment()}}
                                </div>
                                <hr>
              
                            </div>
                        </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clearCommentTable()">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>

                  <!-- Button trigger modal -->
          </div>
        </div>
  
         </div>
          
        </div> 
        
    </div>
  </section>