#moviesCategoriesDropdown{
    width: 200px;
    height: 35px;
}
#dropdwon-menu-list{
    width: 200px;
}

.movie-card{
    position: relative;
    min-height: 500px;
    max-height: 500px;
    max-width: 400px;
    transition: all .8s;
    
}

.list-group-item{
    border: 0 none; 
}


.movies-back{
    position: absolute;
    background-color: white;
    top: -100%;
    min-height: 100%;
    width: 100%;
    opacity: 0;
    border: 2px solid #e6e6e6;
    user-select: none;
    pointer-events: none;
    transform: rotateY(180deg);
    transition: top .8s;
}

movies-back-content{
    position: absolute;
    top:50%;
    
}

.rotate:hover .movie-card{
    transform: rotateY(180deg);
    height: 100%;
}

.rotate:hover .movies-back{
    top: 0;
    user-select: none;
    pointer-events: none;
    opacity: 1;
}
.rotate{
   
    /* perspective:50rem; */
    
}

.userComment{
    display: none;
}

.userCommentDiplay{
    display: block;
}

.containerUserComment{
    background-color: white;
    margin-left: 0px;
    border: 2px solid #e6e6e6;
    border-radius: 2px;
}