<div class="container">
<div class="row xs-12">
  <h3>About the webpage</h3>
</div>
<div class="row xs-12 ml-3 mt-3">
  <div class="row xs-12">
    <h5>Dear visitor</h5>
  </div>
  <div class="row xs-12">
      <p>Thank you for visiting eCinema web page. Navigating to the web page</p><br>
      <p>you will see the movies that is availale to book and also all the upcoming movies</p><br>
      <p>that will be displayed. You can see the current comments of a movie by clicking the </p> <i class="fa fa-comments-o"></i>
      <p>button, also you can leave your comment about any movie in the web page by clicking the </p><i class="fa fa-eye text-success ml-2"></i>
    </div>
</div>
</div>