

<section>
<nav class="navbar navbar-expand-sm navbar-light bg-light ">
  <button type="button" class="navbar-toggler bg-light text-dark ml-auto " data-toggle="collapse" data-target="#nav"><span class="navbar-toggler-icon"></span></button>
 <div class="collapse navbar-collapse justify-content-between" id="nav">
  <ul class="navbar-nav">
   <li class="nav-item dropdown" id="movies" ><a class="nav-link  mx-3 px-3 font-weight-bold text-dark dropdown-toggle" data-toggle="dropdown" [routerLink]="['/movies','all']"   
   routerLinkActive="router-link-active" routerLinkActive="active">Movies</a>
    <div class="dropdown-menu ml-4">
        <a *ngFor="let category of categories" class="dropdown-item" [routerLink]="['/movies',category]">{{category}}</a>
      </div>
   </li>
   <li class="nav-item dropdown" id="upcomingMovies"><a class="nav-link mx-4 px-3 font-weight-bold dropdown-toggle  text-dark"  data-toggle="dropdown" [routerLink]="['/upcomingMovies','all']" routerLinkActive="active">Upcoming Movies</a>
    <div class="dropdown-menu ml-4">
      <a *ngFor="let category of categories" class="dropdown-item"[routerLink]="['/upcomingMovies',category]">{{category}}</a>
    </div>
  </li>
  <li class="nav-item "><a class="nav-link mx-4 px-3 font-weight-bold text-dark" [routerLink]="['/schedule']" routerLinkActive="active">Schedule</a></li>
  <li class="nav-item "><a class="nav-link mx-4 px-3 font-weight-bold text-dark" [routerLink]="['/addCategory']" routerLinkActive="active" *ngIf="adminLoggedInUser">Add Movie Category</a></li>
 </ul>

 
   
 <ul class="navbar-nav">
    <li class="nav-item ">
    <div class="form-inline">
        <button type="button" class="btn"><i class="fa fa-search font-weight-bold font"></i></button>
          
        <input type="text" class="form-control ml-3 " placeholder="movie name,actors name 1 -actors name 2" #searchInput inputEventListener [disabled]="!isSearchFieldEnabled">
       
      </div>
    </li>
    <li class="nav-item " style="cursor: pointer;"><a class="nav-link px-3 font-weight-bold text-dark"  data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" #openRegisterPanel *ngIf="loggedInUserId==false">Login</a></li>
    <li class="nav-item " style="cursor: pointer;"><a class="nav-link px-3 font-weight-bold text-dark"  [routerLink]="['/userRegister']" routerLinkActive="active" *ngIf="loggedInUserId==false">Register</a></li>
    <li class="nav-item " style="cursor: pointer;"><a class="nav-link px-3 font-weight-bold text-dark"  (click)="logOutUser()" #openRegisterPanel *ngIf="loggedInUserId==true">Log out</a></li>
 </ul>
</div>

</nav>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="authenticationForm" (ngSubmit)= "onSubmit()" >
              <div formGroupName="userData">
                  <div class="form-group">
                    <label for="email">Email</label> <span [ngClass]="{'invalid-input-span': !authenticationForm.get('userData.email').valid}">*</span>
                    <input type="email" 
                    id="email" 
                    class="form-control"
                    formControlName="email" 
                     >
                    <span *ngIf="(!authenticationForm.get('userData.email').valid && authenticationForm.get('userData.email').touched)" 
                    [ngClass]=
                    "{'invalid-input-span':
                    (!authenticationForm.get('userData.email').valid 
                    && 
                    authenticationForm.get('userData.email').touched)}">You must enter a valid email</span>
                  </div>
                  <div class="form-group">
                      <label for="password">Password</label><span [ngClass]="{'invalid-input-span': !authenticationForm.get('userData.password').valid}">*</span>
                      <p *ngIf="">You must enter one valid user name</p>
                    <br>
                    <span *ngIf="(!authenticationForm.get('userData.password').valid && authenticationForm.get('userData.password').touched)" [ngClass]="{'invalid-input-span': ( !authenticationForm.get('userData.password').valid && authenticationForm.get('userData.password').touched)}">You must enter a valid Password</span>
                     <input 
                     type="password"
                     id="password"
                     class="form-control"
                     formControlName="password" 
                     >
                    
                    </div>
                
              </div>

                <button type="button" class="btn btn-danger" data-dismiss="modal" #closeAuthenticationPanel>Close</button>
                <button class="btn btn-success ml-3" type="submit" [disabled]="!authenticationForm.valid">Log in</button>
               
              </form>
        </div>
        
      </div>
    </div>
  </div>
</section>