
  <!doctype html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <base href="/">
  
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>
  <body>
        <nav class="navbar navbar-light navbar-expand-md" id="application-navBar" style="background-color: rgba(40,34,31,0.41);">
                <div class="container-fluid"><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div
                        class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav" id="navigation-item" style="margin-left: 42px;"></ul>
                        <ul class="nav navbar-nav text-right mx-auto" id="navigation-item-3">
                          <li class="nav-item" role="presentation"  ><a class="nav-link"[routerLink]="['/movies']" routerLinkActive="router-link-active"  >Movies</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="/movies">Upcoming Movies</a></li>
                            <li class="nav-item" role="presentation" style="/*margin-left: 31px;*/"><a class="nav-link" href="#" style="margin-left: 20px;">Schedule</a></li>
                        </ul>
                        <ul class="nav navbar-nav text-right ml-auto" id="navigation-item-2">
                          <li class="nav-item" role="presentation">
                            <div style="margin-top:15px;">
                            <label > <span style=" font-size: 15px;" class="glyphicon glyphicon-search"></span> </label>
                            <input type="text" id="searchMoviesId" #searchMoviesId placeholder="search..."/>
                            </div>
                            </li> 
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#">Contact</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#">About</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#">Leave a comment</a></li>
                        </ul>
                </div>  
                </div>
            </nav>
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/bootstrap/js/bootstrap.min.js"></script>
 

  </body>
  </html>