<div class="wrapper">


<div class="footer-clean" >
  <footer>
      <div class="container">
          <div class="row justify-content-center">
             
              <div class="col-sm-12 col-md-12 item">
                  <h3>About</h3>
                  <ul>
                      <li><a [routerLink]="['/contact']" routerLinkActive="active">Contact</a></li>
                      <li><a [routerLink]="['/about']"  routerLinkActive="active" >About</a></li>
                      <li><a [routerLink]="['/leaveComment']" routerLinkActive="active">Leave a comment</a></li>
                      <li><a [routerLink]="['/aboutUs']" routerLinkActive="active">What people say about us..</a></li>
                  </ul>
              </div>
              
              <div class="col-lg-2 item social">
                  <p class="copyright">eCinema © 2017</p>
              </div>
          </div>
      </div>
  </footer>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</div>