<section>
  <div class="container">
    <div class="row-sm-12 ">
      <div class="row pt-4 mt-5 mb-5">
      <div class="col-ms-12 ml-3 mb-2">
        <button class="btn btn-success" (click)="createNewSchedule()" *ngIf="adminLoggedInUser">Add schedule</button>
      </div>
      <div class="col-sm-12">
        <table class="table table-dark text-center">
          <thead >
              <tr>
                  <th scope="col" > <span class="text-warning">Movie Title</span> </th>
                  <th scope="col"> <span class="text-warning"> Date </span></th>
                  <th scope="col" ><span class="text-warning">Time</span></th>
                  <th scope="col"><span class="text-warning">Room</span></th>
                  <th scope="col" ><span class="text-warning">Ticket</span></th>
                </tr>
          </thead>
          <tbody>
              <tr *ngFor="let scheduleItem of scheduledMovies;let i=index">
                  <th scope="row">{{scheduleItem.getMovieTitle()}}</th>
                  <td>{{scheduleItem.getDate()}}</td>
                  <td>{{scheduleItem.getMovieTime()}}</td>
                  <td>{{scheduleItem.getMovieRoom()}}</td>
                  <td id="buyTicketRow"><button class="btn btn-warning buyTickerBtn"  data-toggle="modal" data-target="#buyTicketModal" (click)="buyTicket(scheduleItem.getMovieTitle())">Buy</button></td>
                  <td ><button class="btn btn-warning buyTickerBtn" *ngIf="adminLoggedInUser" (click)="updateSchedule(scheduleItem)">Edit</button></td>
                  <td ><button class="btn btn-warning buyTickerBtn" *ngIf="adminLoggedInUser" (click)="deleteScheduleItem(scheduleItem.getScheduleId(),i)">Delete</button></td>
              </tr>
                
          </tbody>
        </table>
      </div>
    </div>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog"  id="buyTicketModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">e-Cinema warning message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>You have buy ticket for movie {{scheduleTitle}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</section>